<!DOCTYPE html>
<html lang="en">

<head>
  <title>Coffee Code</title>
  <link rel="icon" href="svg/coffee.svg" type="image/icon type">
  <link rel="stylesheet" href="styleee.css" />
  <script>
    window.onscroll = function () { Scroll() };
    function Scroll() {
      if (document.body.scrollTop > 700 || document.documentElement.scrollTop > 700) {
        document.getElementById("id-navi").className = "navi-slidedown";
      }
      if (document.body.scrollTop > 450 || document.documentElement.scrollTop > 450) {
        document.getElementById("id-about-scroll").className = "scroll-about";
      }
    }

    function menuButtonSnacks() {
      document.getElementById("id-drinks").className = "menu-button-off";
      document.getElementById("id-snacks").className = "menu-button-on";
      document.getElementById("id-menu-snacks").className = "menu-snacks-on";
      document.getElementById("id-menu-drinks").className = "menu-drinks-off";
    }
    function menuButtonDrinks() {
      document.getElementById("id-drinks").className = "menu-button-on";
      document.getElementById("id-snacks").className = "menu-button-off";
      document.getElementById("id-menu-snacks").className = "menu-snacks-off";
      document.getElementById("id-menu-drinks").className = "menu-drinks-on";
    }

    function getFormData() {
      const fname = document.getElementById("fname");
      const email = document.getElementById("email");
      const feedback = document.getElementById("feedback");
      const ftime = document.getElementById("ftime");
      const allChildren = document.getElementsByClassName("col")[0].children;
      let orderArray = [];
      const inputsChecks = document.querySelectorAll(`input[type="checkbox"]`);
      for (let i = 0; i < inputsChecks.length; i++) {
        if (inputsChecks[i].checked) {
          orderArray.push(inputsChecks[i].name);
          inputsChecks[i].checked = false;
        }
      }
      fetch('http://localhost:8000/submit', {
        method: 'POST',
        body: JSON.stringify({
          name: fname.value,
          email: email.value,
          time: ftime.value,
          order: orderArray,
          suggestion: feedback.value
        }),
        headers: {
          'Content-type': 'application/json; charset=UTF-8'
        }
      })
        .then(response => alert("Your order has been placed successfully."))
        .catch(e => {
          alert(e);
        }).finally(() => {
          email.value = "";
          fname.value = "";
          feedback.value = "";
          ftime.value = "";
        })
    }


  </script>
</head>

<body>
  <header class="header">
    <section class="main">
      <a class="logo" href="#"><img src="svg/coffee.svg" height="30px"></a>
      <div class="fix">
        <a class="a1" href="#id-contact">CONTACT US</a>
        <a class="a1" href="#id-menu">DISCOVER</a>
        <a class="a1" href="#id-about">ABOUT US</a>
        <a class="a1" href="#">HOME</a>
      </div>
    </section>
    <div class="fix-background" id="id-navi"></div>
    <div class="banner">
      <h1 class="banner-title">COFFEE CODE</h1>
      <h3 class="banner-subtitle">#Coffee❤️</h3>
    </div>
    <div class="banner-bottom"><a href="#id-skills"><img src="svg/down-arrow.svg"></a></div>
  </header>
  <div class="content-divider"></div>

  <section class="skills" id="id-skills" style="background-color:#E0E5EC;">
    <!-- single skill -->
    <article class="skill1">
      <center><img src="svg/coffee-bag.svg" height="45px"></center><br>
      <h3 class="skill-title">made in india</h3>
      <p class="skill-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati,
        porro.
      </p>
    </article>
    <!--end single skill -->
    <!-- single skill -->
    <article class="skill2">
      <center><img src="svg/spa.svg" height="45px"></center><br>
      <h3 class="skill-title">relaxation</h3>
      <p class="skill-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati,
        porro.
      </p>
    </article>
    <!--end single skill -->
    <!-- single skill -->
    <article class="skill1">
      <center><img src="svg/ecology-and-environment.svg" height="45px"></center><br>
      <h3 class="skill-title">energy</h3>
      <p class="skill-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati,
        porro.
      </p>
    </article>
    <!--end single skill -->
    <!-- single skill -->
    <article class="skill2">
      <center><img src="svg/cook.svg" height="45px"></center><br>
      <h3 class="skill-title">family recipe</h3>
      <p class="skill-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati,
        porro.
      </p>
    </article>
    <!--end single skill -->
  </section>



  <!-- about-section -->
  <div class="about">
    <br>
    <br>
    <section class="about-section-center-clearfix" style="display: inline; background-color: YELLOW;" id="id-about">
      <!-- <div class="section-center clearfix"> -->
      <!-- first column  -->
      <article class="about-img-1">
        <div class="about-picture-container">
          <video autoplay muted loop id="myVideo">
            <source src="videos/coffee.mp4" type="video/mp4">
          </video>
        </div>
      </article>
      <!-- second column -->
      <article class="about-info-1">
        <!-- section title -->
        <div class="about-scroll" id="id-about-scroll">
          <!-- <img src="preloader.gif" height="40px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
          <h3 class="section-subtitle">ABOUT</h3>
          <h2 class="section-title">Coffee Code</h2>

          <!--end section title -->
          <p class="about-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
            dolores.
          </p>
          <p class="about-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
            dolores.
          </p>
          <a href="#id-contact" class="main-btn">learn more</a>
          <div class="main-btn-back"></div>
        </div>
      </article>

      <div style="clear: both;"></div>
    </section>

    <br>
    <br>
  </div>
  <!--Menu-->
  <div style="background-color:#E0E5EC; ">
    <section class="menu-template" id="id-menu">
      <h1 class="menu-title">DISCOVER</h1><br>
      <center>
        <h3 class="menu-subtitle">O U R &nbsp;&nbsp;M E N U</h3>
      </center>
    </section><br><br>


    <section class="menu-header-container">
      <div class="menu-hr-container">
        <hr class="menu-hr">
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" id="id-drinks" class="menu-button-on" onclick="menuButtonDrinks()"><img
          src="svg/hot-drinks (1).png" class="menu-circle-image"></button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" id="id-snacks" class="menu-button-off" onclick="menuButtonSnacks()"><img src="svg/snack.png"
          class="menu-circle-image"></button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="menu-hr-container">
        <hr class="menu-hr">
      </div>
    </section>

    <!-- drinks menu -->
    <div class="menu-drinks-on" id="id-menu-drinks">

      <section class="menu" style="display: inline;">
        <article class="menu-section">
          <!-- first column -->
          <div class="menu-flip-card">
            <div class="menu-flip-card-inner">
              <div class="menu-flip-card-front">
                <img
                  src="https://cdn.shopify.com/s/files/1/0263/0120/2516/articles/gerson-cifuentes-JNhaaPEz3FY-unsplash_800x.jpg?v=1576872775"
                  alt="Avatar" class="menu-image">
              </div>
              <div class="menu-flip-card-back">
                <div class="menu-text">
                  <h3 class="menu-text-title">CAFE AMERICANO</h3>
                  <p class="about-text">
                    A great option for those who aren't fans of their coffee with milk and need something a little
                    stronger to help give them that extra caffeine kick.
                  </p>
                  <h3 class="menu-text-title">₹ 259</h3>
                </div>
              </div>
            </div>
          </div>
        </article>

        <!-- second column -->
        <article class="menu-section">
          <div class="menu-flip-card">
            <div class="menu-flip-card-inner">
              <div class="menu-flip-card-front">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ65YG7UqnmkcBJuMNdfXOYSyg-qmr61cnuIQ&usqp=CAU"
                  alt="Avatar" class="menu-image">
              </div>
              <div class="menu-flip-card-back">
                <div class="menu-text">
                  <h3 class="menu-text-title">HOT COFFEE</h3>
                  <p class="about-text">
                    A regular hot coffee can make your day.
                  </p>
                  <h3 class="menu-text-title">₹ 149</h3>
                </div>
              </div>
            </div>
          </div>
        </article>

        <!-- third column -->
        <article class="menu-section">
          <div class="menu-flip-card">
            <div class="menu-flip-card-inner">
              <div class="menu-flip-card-front">
                <img src="Coffee/2.jpeg" alt="Avatar" class="menu-image">
              </div>
              <div class="menu-flip-card-back">
                <div class="menu-text">
                  <h3 class="menu-text-title">CREAM LATTE</h3>
                  <p class="about-text">
                    Just before serving, our slow-steeped custom blend is topped with a delicate float of house-made
                    vanilla sweet cream.
                  </p>
                  <h3 class="menu-text-title">₹ 299</h3>
                </div>
              </div>
            </div>
          </div>
        </article>
        <!-- fourth column -->
        <article class="menu-section">
          <div class="menu-flip-card">
            <div class="menu-flip-card-inner">
              <div class="menu-flip-card-front">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBBj-tic1DPJTZ22Zf_bf_nC6qo_q68EQfRA&usqp=CAU"
                  alt="Avatar" class="menu-image">
              </div>
              <div class="menu-flip-card-back">
                <div class="menu-text">
                  <h3 class="menu-text-title">ICED LATTE</h3>
                  <p class="about-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                    dolores.
                  </p>
                  <h3 class="menu-text-title">₹ COST</h3>
                </div>
              </div>
            </div>
          </div>
        </article>

        <div style="clear: both;"></div>
        <br>
      </section>
      <section class="menu" style="display: inline;">
        <article class="menu-section">
          <!-- first column -->
          <div class="menu-flip-card">
            <div class="menu-flip-card-inner">
              <div class="menu-flip-card-front">
                <img src="Coffee/15.jpeg" alt="Avatar" class="menu-image">
              </div>
              <div class="menu-flip-card-back">
                <div class="menu-text">
                  <h3 class="menu-text-title">COFFEE SHOTS</h3>
                  <p class="about-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                    dolores.
                  </p>
                  <h3 class="menu-text-title">₹ COST</h3>
                </div>
              </div>
            </div>
          </div>
        </article>

        <!-- second column -->
        <article class="menu-section">
          <div class="menu-flip-card">
            <div class="menu-flip-card-inner">
              <div class="menu-flip-card-front">
                <img src="https://www.darngoodveggies.com/wp-content/uploads/2016/12/IMG_0102.jpg" alt="Avatar"
                  class="menu-image">
              </div>
              <div class="menu-flip-card-back">
                <div class="menu-text">
                  <h3 class="menu-text-title">HERBAL</h3>
                  <p class="about-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                    dolores.
                  </p>
                  <h3 class="menu-text-title">₹ COST</h3>
                </div>
              </div>
            </div>
          </div>
        </article>

        <!-- third column -->
        <article class="menu-section">
          <div class="menu-flip-card">
            <div class="menu-flip-card-inner">
              <div class="menu-flip-card-front">
                <img src="Coffee/17.jpeg" alt="Avatar" class="menu-image">
              </div>
              <div class="menu-flip-card-back">
                <div class="menu-text">
                  <h3 class="menu-text-title">HERBAL CHERRY</h3>
                  <p class="about-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                    dolores.
                  </p>
                  <h3 class="menu-text-title">₹ COST</h3>
                </div>
              </div>
            </div>
          </div>
        </article>
        <!-- fourth column -->
        <article class="menu-section">
          <div class="menu-flip-card">
            <div class="menu-flip-card-inner">
              <div class="menu-flip-card-front">
                <img src="https://c0.wallpaperflare.com/preview/571/684/40/food-coffee-drip-caffeine.jpg" alt="Avatar"
                  class="menu-image">
              </div>
              <div class="menu-flip-card-back">
                <div class="menu-text">
                  <h3 class="menu-text-title">FILTERED COFFEE</h3>
                  <p class="about-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                    dolores.
                  </p>
                  <h3 class="menu-text-title">₹ COST</h3>
                </div>
              </div>
            </div>
          </div>
        </article>

        <div style="clear: both;"></div>
        <br>
      </section>
      <br>

    </div>
    <!-- drinks menu ending -->

    <!-- snacks menu -->
    <div class="menu-snacks-off" id="id-menu-snacks">

      <section class="menu" style="display: inline;">
        <article class="menu-section">
          <!-- first column -->
          <div class="menu-flip-card">
            <div class="menu-flip-card-inner">
              <div class="menu-flip-card-front">
                <img src="https://biancazapatka.com/wp-content/uploads/2020/09/pizza-dough-homemade-recipe.jpg"
                  alt="Avatar" class="menu-image">
              </div>
              <div class="menu-flip-card-back">
                <div class="menu-text">
                  <h3 class="menu-text-title">PIZZA</h3>
                  <p class="about-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                    dolores.
                  </p>
                  <h3 class="menu-text-title">₹ COST</h3>
                </div>
              </div>
            </div>
          </div>
        </article>

        <!-- second column -->
        <article class="menu-section">
          <div class="menu-flip-card">
            <div class="menu-flip-card-inner">
              <div class="menu-flip-card-front">
                <img src="https://thecozycook.com/wp-content/uploads/2018/10/Homemade-French-Fry-Recipe-.jpg"
                  alt="Avatar" class="menu-image">
              </div>
              <div class="menu-flip-card-back">
                <div class="menu-text">
                  <h3 class="menu-text-title">FRIES</h3>
                  <p class="about-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                    dolores.
                  </p>
                  <h3 class="menu-text-title">₹ COST</h3>
                </div>
              </div>
            </div>
          </div>
        </article>

        <!-- third column -->
        <article class="menu-section">
          <div class="menu-flip-card">
            <div class="menu-flip-card-inner">
              <div class="menu-flip-card-front">
                <img src="https://www.recipetineats.com/wp-content/uploads/2019/08/Avocado-Chicken-Burgers_9.jpg"
                  alt="Avatar" class="menu-image">
              </div>
              <div class="menu-flip-card-back">
                <div class="menu-text">
                  <h3 class="menu-text-title">BURGER</h3>
                  <p class="about-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                    dolores.
                  </p>
                  <h3 class="menu-text-title">₹ COST</h3>
                </div>
              </div>
            </div>
          </div>
        </article>
        <!-- fourth column -->
        <article class="menu-section">
          <div class="menu-flip-card">
            <div class="menu-flip-card-inner">
              <div class="menu-flip-card-front">
                <img
                  src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/summer-sandwiches-blt-1525711503.jpg"
                  alt="Avatar" class="menu-image">
              </div>
              <div class="menu-flip-card-back">
                <div class="menu-text">
                  <h3 class="menu-text-title">SANDWICH</h3>
                  <p class="about-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                    dolores.
                  </p>
                  <h3 class="menu-text-title">₹ COST</h3>
                </div>
              </div>
            </div>
          </div>
        </article>

        <div style="clear: both;"></div>
        <br>
      </section>
      <section class="menu" style="display: inline;">
        <article class="menu-section">
          <!-- first column -->
          <div class="menu-flip-card">
            <div class="menu-flip-card-inner">
              <div class="menu-flip-card-front">
                <img src="https://i1.fnp.com/images/pr/l/v20200722194554/creamy-chocolate-pastry-6-pcs_1.jpg"
                  alt="Avatar" class="menu-image">
              </div>
              <div class="menu-flip-card-back">
                <div class="menu-text">
                  <h3 class="menu-text-title">PASTRIES</h3>
                  <p class="about-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                    dolores.
                  </p>
                  <h3 class="menu-text-title">₹ COST</h3>
                </div>
              </div>
            </div>
          </div>
        </article>

        <!-- second column -->
        <article class="menu-section">
          <div class="menu-flip-card">
            <div class="menu-flip-card-inner">
              <div class="menu-flip-card-front">
                <img src="https://www.jocooks.com/wp-content/uploads/2020/09/belgian-waffles-1-16.jpg" alt="Avatar"
                  class="menu-image">
              </div>
              <div class="menu-flip-card-back">
                <div class="menu-text">
                  <h3 class="menu-text-title">WAFFLE</h3>
                  <p class="about-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                    dolores.
                  </p>
                  <h3 class="menu-text-title">₹ COST</h3>
                </div>
              </div>
            </div>
          </div>
        </article>

        <!-- third column -->
        <article class="menu-section">
          <div class="menu-flip-card">
            <div class="menu-flip-card-inner">
              <div class="menu-flip-card-front">
                <img src="Coffee/27.jpeg" alt="Avatar" class="menu-image">
              </div>
              <div class="menu-flip-card-back">
                <div class="menu-text">
                  <h3 class="menu-text-title">COOKIES</h3>
                  <p class="about-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                    dolores.
                  </p>
                  <h3 class="menu-text-title">₹ COST</h3>
                </div>
              </div>
            </div>
          </div>
        </article>
        <!-- fourth column -->
        <article class="menu-section">
          <div class="menu-flip-card">
            <div class="menu-flip-card-inner">
              <div class="menu-flip-card-front">
                <img src="http://turniptheoven.com/wp-content/uploads/2017/12/Chunky-Chocolate-Hazelnut-Granola-2.jpg"
                  alt="Avatar" class="menu-image">
              </div>
              <div class="menu-flip-card-back">
                <div class="menu-text">
                  <h3 class="menu-text-title">MIX BREAKFAST</h3>
                  <p class="about-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                    dolores.
                  </p>
                  <h3 class="menu-text-title">₹ COST</h3>
                </div>
              </div>
            </div>
          </div>
        </article>

        <div style="clear: both;"></div>
        <br>
      </section>
      <br>

    </div>

    <!-- snacks menu ending -->

    <!--Response-->
    <div class="back">
      <section class="about-section-center-clearfix" style="display: inline; ">

        <article class="about-img">

          <h3 class="response-title">PLACE YOUR ORDER HERE</h3>
          <br>
          <form onsubmit="event.preventDefault()" method="POST">
            <label for=" fname">Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your Name" required="Name" />

            <label for="mail">E-Mail</label>
            <input type="email" id="email" name="email" placeholder="abc123@xyz.com" required="Email" />
            <label for="mail">Select time</label><br>
            <select id="ftime" name="time">
              <option disabled selected>Select Your Time</option>
              <option value="now">now</option>
              <option value="30-minutes">30 minutes</option>
              <option value="one-hour">1 Hour</option>
              <option value="one-half-hour">1.5 Hours</option>
              <option value="two-hours">2 Hours</option>
            </select>
            <br><br>
            <div class="col">

              <input type="checkbox" class="filled-in" id="cafe-americano" name="cafe-americano" />
              <label for="cafe-americano">Cafe Americano</label>
              <br>

              <input type="checkbox" class="filled-in" id="blonde-roast" name="blonde-roast" />
              <label for="blonde-roast">Hot Coffee</label>
              <br>

              <input type="checkbox" class="filled-in" id="iced-coffee" name="iced-coffee" />
              <label for="iced-coffee">Cream Latte</label>
              <br>

              <input type="checkbox" class="filled-in" id="vanilla-sweet-cream" name="vanilla-sweet-cream" />
              <label for="vanilla-sweet-cream">Iced Latte</label>
              <br>
              <input type="checkbox" class="filled-in" id="toasted-coconut" name="toasted-coconut" />
              <label for="toasted-coconut">Coffee Shot</label>
              <br>

              <input type="checkbox" class="filled-in" id="decaf-roast" name="decaf-roast" />
              <label for="decaf-roast">Herbal Tea</label>
              <br>
              <input type="checkbox" class="filled-in" id="decaf-roast" name="decaf-roast" />
              <label for="decaf-roast">Herbal cherry</label>
              <br>

              <input type="checkbox" class="filled-in" id="decaf-roast" name="decaf-roast" />
              <label for="decaf-roast">Filtered Coffee</label>
              <br>

              <input type="checkbox" class="filled-in" id="cafe-americano" name="cafe-americano" />
              <label for="cafe-americano">Farmhouse Pizza</label>
              <br>

              <input type="checkbox" class="filled-in" id="cafe-americano" name="cafe-americano" />
              <label for="cafe-americano">Farmhouse Pizza</label>
              <br>

              <input type="checkbox" class="filled-in" id="blonde-roast" name="blonde-roast" />
              <label for="blonde-roast">French Fries</label>
              <br>

              <input type="checkbox" class="filled-in" id="iced-coffee" name="iced-coffee" />
              <label for="iced-coffee">Veg Burger</label>
              <br>

              <input type="checkbox" class="filled-in" id="vanilla-sweet-cream" name="vanilla-sweet-cream" />
              <label for="vanilla-sweet-cream">Veg Sandwich</label>
              <br>
              <input type="checkbox" class="filled-in" id="toasted-coconut" name="toasted-coconut" />
              <label for="toasted-coconut">Stawberry Pastry</label>
              <br>

              <input type="checkbox" class="filled-in" id="toasted-coconut" name="toasted-coconut" />
              <label for="toasted-coconut">Chocoloate truffle Pastry</label>
              <br>

              <input type="checkbox" class="filled-in" id="decaf-roast" name="decaf-roast" />
              <label for="decaf-roast">Waffle</label>
              <br>
              <input type="checkbox" class="filled-in" id="decaf-roast" name="decaf-roast" />
              <label for="decaf-roast">Walnut cookies</label>
              <br>

              <input type="checkbox" class="filled-in" id="decaf-roast" name="decaf-roast" />
              <label for="decaf-roast">Breakfast mix</label>
              <br>

            </div>
            <br><br>
            <label for="subject">Suggestions</label>
            <textarea id="feedback" name="feedback" placeholder="Any specific details" style="height:50px"></textarea>


            <p align="right"><input onclick="getFormData();" type="submit" value="Submit"></p>

          </form>
        </article>
        <!-- second column -->
        <article class="about-info-slider">
          <h3 class="response-title">TESTIMONIALS</h3>
          <!--end section title -->
          <div class="slideshow-container">

            <div class="mySlides fade">
              <br>
              <p class="p1">“ Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a
                large language ocean. ”</p>
              <br>
              <img class="slider-img1" src="people/1.jpeg">
              <h3 class="slider-name1">Charles White</h3>
              <br><br>
              <hr class="slides-hr">
              <div class="social">
                <img src="svg/instagram-red.svg" class="slider-social">
                <img src="svg/facebook-red.svg" class="slider-social">
              </div>
              <br><br><br>
              <p class="p2">“ Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a
                large language ocean. ”</p>
              <br>
              <img class="slider-img2" src="people/5.jpeg">
              <h3 class="slider-name2">Seth Doyle</h3>
              <br><br>
              <hr class="slides-hr1">
              <div class="social2">
                <img src="svg/instagram-red.svg" class="slider-social">
                <img src="svg/facebook-red.svg" class="slider-social">
              </div>
            </div>

            <div class="mySlides fade">
              <br>
              <p class="p1">“ Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a
                large language ocean. ”</p>
              <br>
              <img class="slider-img1" src="people/2.jpeg">
              <h3 class="slider-name1">Roberto Webb</h3>
              <br><br>
              <hr class="slides-hr">
              <div class="social">
                <img src="svg/instagram-red.svg" class="slider-social">
                <img src="svg/facebook-red.svg" class="slider-social">
              </div>
              <br><br><br>
              <p class="p2">“ Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a
                large language ocean. ”</p>
              <br>
              <img class="slider-img2" src="people/4.jpeg">
              <h3 class="slider-name2">Midas Hofsatra</h3>
              <br><br>
              <hr class="slides-hr1">
              <div class="social2">
                <img src="svg/instagram-red.svg" class="slider-social">
                <img src="svg/facebook-red.svg" class="slider-social">
              </div>
            </div>

            <div class="mySlides fade">
              <br>
              <p class="p1">“ Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a
                large language ocean. ”</p>
              <br>
              <img class="slider-img1" src="people/3.jpeg">
              <h3 class="slider-name1">Mellisa Howard</h3>
              <br><br>
              <hr class="slides-hr">
              <div class="social">
                <img src="svg/instagram-red.svg" class="slider-social">
                <img src="svg/facebook-red.svg" class="slider-social">
              </div>
              <br><br><br>
              <p class="p2">“ Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a
                large language ocean. ”</p>
              <br>
              <img class="slider-img2" src="people/7.jpeg">
              <h3 class="slider-name2">DeMorris Byrd</h3>
              <br><br>
              <hr class="slides-hr1">
              <div class="social2">
                <img src="svg/instagram-red.svg" class="slider-social">
                <img src="svg/facebook-red.svg" class="slider-social">
              </div>
            </div>
            <br>
            <br>
            <div style="text-align:center">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>

          </div>


          <script>
            var slideIndex = 0;
            showSlides();

            function showSlides() {
              var i;
              var slides = document.getElementsByClassName("mySlides");
              var dots = document.getElementsByClassName("dot");
              for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
              }
              slideIndex++;
              if (slideIndex > slides.length) { slideIndex = 1 }
              for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
              }
              slides[slideIndex - 1].style.display = "block";
              dots[slideIndex - 1].className += " active";
              setTimeout(showSlides, 2000); // Change image every 2 seconds
            }
          </script>

        </article>
        <div style="clear: both;"></div>
      </section>
    </div>
    <!-- Contact -->
    <section class="contact-template" id="id-contact">
      <h1 class="contact-title">CONTACT US</h1>
      <br>
      <center>
        <h3 class="menu-subtitle">L O C A T E&nbsp;&nbsp;U S</h3>
      </center>
    </section>

    <div class="contact">
      <section class="about-section-center-clearfix" style="display: inline; ">

        <article class="contact-map">
          <!--left column-->
          <br>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3598.656362419494!2d85.13162101496974!3d25.583097083718112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f2a7bc55ff037f%3A0xc4a20f1b9171ed3!2sCakesabha!5e0!3m2!1sen!2sin!4v1619349450212!5m2!1sen!2sin"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          <br><br>
        </article>
        <!-- right column -->
        <article class="contact-img">
          <!-- second column -->
          <br>
          <!-- section title -->
          <div class="opening-container">
            <img src="Struct.jpg" alt="Snow" style="width:100%;">
            <div class="opening-text ">
              <h3>O P E N&nbsp;&nbsp;H O U R S</h3>
              <p>
                <strong>Monday: Closed</strong><br>
                <strong>Tuesday to Friday</strong><br>
                7:00 AM - 9:00 PM<br>
                <strong>Saturday & Sunday</strong><br>
                11:00 AM - 10:00 PM
              </p>
            </div>
          </div>


          <!--end section title -->
        </article>
        <div style="clear: both;"></div>
      </section>
      <center>
        <div class="contact-social">
          <a class="contact-social-icons" href="#"><img src="svg/facebook.svg" weight="25" title="facebook"
              height="25"></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="contact-social-icons" href="#"><img src="svg/instagram.svg" weight="25" title="instagram"
              height="25"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="contact-social-icons" href="#"><img src="svg/google.svg" weight="25" title="gmail"
              height="25"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="contact-social-icons" href="https://www.linkedin.com/in/nishantjain212a50186/"><img
              src="svg/linkedin.svg" weight="25" title="linkedin" height="25"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="contact-social-icons" href="#"><img src="svg/whatsapp.svg" weight="25" title="whatsapp"
              height="25"></a>
        </div><br>
        <div class="footer"><br>
          <p class="fontsettings">Copyright © 2021 | <a class="colorcover-link" href="#">Coffee Code's</a></p><br>
        </div>
      </center>
    </div>
</body>

</html>