<div id="menu" class="section">
	<div class="menu-options">
		<h3 id="coffee" class="active">Coffee</h3>
		<h3 id="tea">Tea</h3>
		<h3 id="pastries">Pastries</h3>
	</div>
    		<div class="coffee">
    			<ul>
    				<li>
    					<div class="menu-item">Featured Dark Roast</div>
    					<div class="menu-line"></div>
    					<div class="menu-price">$2.95</div>
    					<div class="menu-item-desc">This full-bodied dark roast coffee has the bold, robust flavors to showcase our roasting and blending artistry</div>
    				</li>
    				<li>
    					<div class="menu-item">Blonde Roast</div>
    					<div class="menu-line"></div>
    					<div class="menu-price">$2.50</div>
    					<div class="menu-item-desc">Lightly roasted coffee that's soft, mellow and flavorful. Delicious with milk, sugar or flavored with vanilla, caramel or hazelnut</div>
    				</li>
    				<li>
    					<div class="menu-item">Iced Coffee</div>
    					<div class="menu-line"></div>
    					<div class="menu-price">$2.00</div>
    					<div class="menu-item-desc">Iced Coffee Blend served chilled and lightly sweetened over ice</div>
    				</li>
    				<li>
    					<div class="menu-item">Vanilla Sweet Cream Cold Brew</div>
    					<div class="menu-line"></div>
    					<div class="menu-price">$3.95</div>
    					<div class="menu-item-desc">Just before serving, our slow-steeped custom blend is topped with a delicate float of house-made vanilla sweet cream</div>
    				</li>
    				<li>
    					<div class="menu-item">Toasted Coconut Cold Brew</div>
    					<div class="menu-line"></div>
    					<div class="menu-price">$2.50</div>
    					<div class="menu-item-desc">Cold Brew is sweetened with flavors of toasted coconut and honey, then finished with a float of coconutmilk</div>
    				</li>
    				<li>
    					<div class="menu-item">Decaf Roast</div>
    					<div class="menu-line"></div>
    					<div class="menu-price">$1.95</div>
    					<div class="menu-item-desc">Our signature medium roasted coffee with a smooth, balanced and rich flavor, minus the caffeine</div>
    				</li>
    			</ul>
    		</div>

    		<div class="tea">
    			<ul>
    				<li>
    					<div class="menu-item">Earl Grey Brewed Tea</div>
    					<div class="menu-line"></div>
    					<div class="menu-price">$1.50</div>
    					<div class="menu-item-desc">We take a strong black tea base and add the essence of bergamot, a citrus fruit with subtle lemon and floral lavender notes</div>
    				</li>
    				<li>
    					<div class="menu-item">Green Tea Latte</div>
    					<div class="menu-line"></div>
    					<div class="menu-price">$2.95</div>
    					<div class="menu-item-desc">Smooth and creamy matcha is lightly sweetened and served with steamed milk</div>
    				</li>
    				<li>
    					<div class="menu-item">Chai Latte</div>
    					<div class="menu-line"></div>
    					<div class="menu-price">$2.50</div>
    					<div class="menu-item-desc">Black tea infused with cinnamon, clove, and other warming spices is combined with steamed milk and topped with foam for the perfect balance of sweet and spicy</div>
    				</li>
    				<li>
    					<div class="menu-item">Jade Citrus Mint Green Tea</div>
    					<div class="menu-line"></div>
    					<div class="menu-price">$2.00</div>
    					<div class="menu-item-desc">Bright citrus and rich China Chun Mee green tea base gets a hint of spearmint for a combination where refreshing meets refreshing</div>
    				</li>
    				<li>
    					<div class="menu-item">London Fog Tea Latte</div>
    					<div class="menu-line"></div>
    					<div class="menu-price">$3.95</div>
    					<div class="menu-item-desc">Bright, citrusy spark of Italian bergamot blends with subtle hints of lavender, vanilla syrup, and steamed milk for this frothy reinvention of classic Earl Grey tea</div>
    				</li>
    				<li>
    					<div class="menu-item">Pineapple Black Tea Infusion Lemonade</div>
    					<div class="menu-line"></div>
    					<div class="menu-price">$1.95</div>
    					<div class="menu-item-desc">Tropical pineapple flavors from our fruit and botanical blends are combined with Black Tea, lemonade, then slightly sweetened with liquid cane sugar</div>
    				</li>
    			</ul>
    		</div>

    		<div class="pastries">
    			<ul>
    				<li>
    					<div class="menu-item">Blueberry Scone</div>
    					<div class="menu-line"></div>
    					<div class="menu-price">$2.95</div>
    					<div class="menu-item-desc">A traditional scone with blueberries, buttermilk and lemon</div>
    				</li>
    				<li>
    					<div class="menu-item">Banana Nut Bread</div>
    					<div class="menu-line"></div>
    					<div class="menu-price">$3.95</div>
    					<div class="menu-item-desc">Bananas, walnuts and pecans in moist, nutty, classic banana bread</div>
    				</li>
    				<li>
    					<div class="menu-item">Chocolate Croissant</div>
    					<div class="menu-line"></div>
    					<div class="menu-price">$2.50</div>
    					<div class="menu-item-desc">Light, flakey, croissant dough is wrapped around two chocolate batons to create a perfect balance that'll satisfy your sweet tooth</div>
    				</li>
    				<li>
    					<div class="menu-item">Cinnamon Raisin Bagel</div>
    					<div class="menu-line"></div>
    					<div class="menu-price">$1.95</div>
    					<div class="menu-item-desc">Our New York-style boiled bagel gets sweet cinnamon swirled into the dough, just before heaps of raisins are mixed in</div>
    				</li>
    				<li>
    					<div class="menu-item">Classic Coffee Cake</div>
    					<div class="menu-line"></div>
    					<div class="menu-price">$3.00</div>
    					<div class="menu-item-desc">A traditional cake with cinnamon and brown sugar</div>
    				</li>
    				<li>
    					<div class="menu-item">Double Chocolate Loaf Cake</div>
    					<div class="menu-line"></div>
    					<div class="menu-price">$2.95</div>
    					<div class="menu-item-desc">Dense chocolate loaf cake is loaded with chunks and chips of rich chocolate then topped with a creamy chocolate ganache icing</div>
    				</li>
    			</ul>
    		</div>

</div><!--  end of #menu -->

<script>
	document.addEventListener("DOMContentLoaded", function() {
		document.querySelector("#coffee").addEventListener("click", function() {
			document.querySelector(".tea").style.opacity = "0";
			document.querySelector(".pastries").style.opacity = "0";
			document.querySelector(".coffee").style.opacity = "1";
			document.querySelector("#coffee").classList.add("active");
			document.querySelector("#tea").classList.remove("active");
			document.querySelector("#pastries").classList.remove("active");
		})

		document.querySelector("#tea").addEventListener("click", function() {
			document.querySelector(".pastries").style.opacity = "0";
			document.querySelector(".coffee").style.opacity = "0";
			document.querySelector(".tea").style.opacity = "1";
			document.querySelector("#tea").classList.add("active");
			document.querySelector("#coffee").classList.remove("active");
			document.querySelector("#pastries").classList.remove("active");
		})

		document.querySelector("#pastries").addEventListener("click", function() {
			document.querySelector(".coffee").style.opacity = "0";
			document.querySelector(".tea").style.opacity = "0";
			document.querySelector(".pastries").style.opacity = "1";
			document.querySelector("#pastries").classList.add("active");
			document.querySelector("#tea").classList.remove("active");
			document.querySelector("#coffee").classList.remove("active");
		})
	})
</script>